body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

@media (max-width: 768px) {
    .controls-panel {
        width: 100%;
        padding: 10px;
    }
    .canvas-wrapper{
        width: 90% !important;
        margin-right: 20px;
    }
}
.fractal-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 100%;
    height: auto;
}
